@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

.section {
  padding-top: 16px;
  padding-bottom: 0;
}

.selected {
  color: red;
}

.link-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.home-icon {
  width: 24px;
  height: 24px;
  fill: $icon-color-default-stroke;
}

.arrow-icon {
  width: 18px;
  height: 18px;
  fill: $text-accent;
  margin-right: 4px;
}

.list {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.item a {
  display: flex;
  align-items: center;
  line-height: 1;
  height: 100%;
  border-bottom: 1px solid transparent;
}

.item:last-child a {
  color: $stroke-hover;
  border-bottom: 1px solid $stroke-hover;
  border-top: 1px solid transparent;
}

.item a:hover {
  color: $buttons-color-background-primary-pressed;
  border-bottom: 1px solid $buttons-color-background-primary-pressed;

  & svg {
    fill: $input-color-border-pressed;
  }
}

@include min-laptop {
  .section {
    padding-top: 32px;
  }
}
