@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/label";
@use "../../../../src/scss/mixins/media" as *;
@use "../../../../src/scss/mixins/indents";

.btn1 {
  display: none;
}

.btn2 {
  display: flex;
  margin: 0 auto;
}

.subtitle {
  @include label.label-dot;
  @include indents.label-subtitle;
}

.title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.main-title {
  color: $text-dark;
  text-transform: uppercase;
}

.list {
  margin-bottom: 32px;
}

.item {
  position: relative;
  transition: border-bottom 1s $animations;
  border-bottom: 1px solid rgba($text-light, 0.5);
  padding: 20px 0;
}

.block-title {
  display: flex;
  background-color: white;
}

.title {
  color: $text-dark;
}

.count {
  min-width: 46px;
  color: $text-accent;
  font-weight: 400;
  font-size: 16px;
}

.content {
  position: relative;
  transition:
    opacity 400ms ease-out,
    max-height 750ms linear;
  margin-left: 46px;
  pointer-events: none;
}

@media (hover: none) {
  .item:not([data-active]) .content {
    opacity: 0;
    max-height: 0 !important;
  }

  .item[data-active] .content {
    opacity: 1;
    transition:
      opacity 1000ms 500ms ease-out,
      max-height 750ms linear;
    pointer-events: auto;
  }

  .item[data-active] .block-photo {
    opacity: 1;
  }

  .item[data-active] {
    transition: border-color 1.25s 1s linear;
    border-bottom: 1px solid $stroke-hover;
  }
}

@media (hover: hover) {
  .item:not(:hover) .content {
    opacity: 0;
    max-height: 0 !important;
  }

  .item:hover .content {
    opacity: 1;
    transition:
      opacity 1000ms 500ms ease-out,
      max-height 750ms linear;
    pointer-events: auto;
  }

  .item:hover .block-photo {
    opacity: 1;
  }

  .item:hover {
    border-bottom: 1px solid $stroke-hover;
  }
}

.text {
  padding-top: 8px;
  color: $text-basic;
  font-size: 16px;
  line-height: 1.3;
}

.block-photo {
  display: none;
  opacity: 0;
  transition: opacity 750ms ease-out;
}

.photo1,
.photo2 {
  width: 120px;
}

.photo2 {
  margin-top: 52px;
}

.photo1-img,
.photo2-img {
  border-radius: 12px;
}

@include min-tablet {
  .count {
    min-width: 38px;
  }

  .content {
    margin-left: 38px;
  }

  .text {
    margin-bottom: 0;
  }

  .photo1,
  .photo2 {
    width: 14.583vw;
  }

  .photo2 {
    margin-top: 32px;
  }
}

/* exclusion if 1024px vs 992px is ok
 @media screen and (min-width: 992px) { */
@include min-tabland {
  .block-photo {
    display: block;
    position: absolute;
    top: -89px;
    right: 6%;
    z-index: 1;
    background-color: white;
  }

  .photo1 {
    width: 225px;
  }

  .block-title,
  .text {
    width: 564px;
  }
}

@include min-laptop {
  .btn1 {
    display: flex;
  }

  .btn2 {
    display: none;
  }

  .section {
    padding-bottom: 160px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .block-photo {
    right: 154px;
  }
}

@include min-desktop {
  .section {
    padding-bottom: 220px;
  }

  .count {
    width: 40px;
    font-size: 18px;
  }

  .content {
    margin-left: 40px;
  }

  .block-photo {
    top: -103px;
    right: 500px;
  }

  .photo1,
  .photo2 {
    width: 240px;
  }

  .text {
    width: 30%;
    font-size: 18px;
  }
}
