@use "../variables" as *;
@use "../mixins/media";
@use "../mixins/utlis" as *;
/*
section margins on Figma from desctop to mobile
177 - 152
88 - 85
228 - 288
100 - 74
*/
.section-404 {
   padding: 0 0 74px 0;
   @include media.min-desktop {
      padding: 0 0 152px 0;
   }
   .container {
      padding: 0 40px;
      max-width: 621px;
      color: $text-dark;
      text-align: center;

      .btn {
         margin: 0 auto;
      }
   }
   .info-404 {
      position: relative;
   }
   .icon-satellite {
      position: absolute;
      top: -6px;
      right: 0;
      width: 32px;
      height: 50px;
      @include media.min-tablet {
         width: 48px;
         height: 76px;
      }
      @include media.max-laptop {
         top: -10px;
         right: -16px;
      }
      @include media.max-tablet {
         top: -4px;
         right: 8px;
      }
      @include media.max-mobile {
         top: -4px;
         right: -8px;
      }
   }
   .heading-404 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      margin: 16px 0;
      font-weight: 300;
      font-size: toRem(100);
      line-height: 1;

      @include media.min-desktop {
         font-size: toRem(140);
      }

      .heading-404__logo {
         width: 80px;
         height: 80px;

         @include media.min-desktop {
            width: 96px;
            height: 96px;
         }
      }
   }
}
