@use "../variables" as *;
@use "../mixins/media" as *;
@use "../mixins/label";

.newcard-img-wrap {
  position: relative;
  margin-bottom: 24px;
  border-radius: $radius-image;
  width: 100%;
  height: 250px;
  overflow: hidden;

  &::before {
    position: absolute;
    z-index: 1;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgb(0 0 0 / 50%) 0%,
      rgb(0 0 0 / 25%) 9%,
      rgb(0 0 0 / 15%) 12%,
      rgb(0 0 0 / 7%) 15%,
      rgb(0 0 0 / 0.01%) 18%,
      rgb(0 0 0 / 0%) 100%
    );
    content: "";
  }

  // &::after {
  //   position: absolute;
  //   z-index: 4;
  //   inset: 0;
  //   content: "";
  //   backdrop-filter: blur(2px);
  //   mask-image: linear-gradient(0deg, #000 20%, #0000);
  //   max-height: 40%;
  //   pointer-events: none;
  //   height: 19%;
  // }
}

/*
.sw-gradient-top {
  position: absolute;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==");

  // background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEmCAYAAACjy/qzAAAAhklEQVQ4y52RUQ6AMAxCKd7/JJ7R6aeJAdr507TjQZqOAE4CWARwx7JE944rch/k6qOWS7bq5bh72zGF8+LTa6goJeRPgXDYNxWFfkS0QXCInLIN1GxTXA0dtS0otWJnuXJR1Y9WYP9GF1UCYRQYHRSlXMARbVO4th3sd7Y3OP5dY3Bn+SkPsGJ1+HGGVtcAAAAASUVORK5CYII=");

  // opacity: 0;

  // transition: opacity .1s cubic-bezier(.4,0,1,1);
  // background-repeat: repeat-x;
  width: 100%;
  pointer-events: none;
  padding-bottom: 50px;
  top: 0;
  z-index: 25;
  background-position: top;
  height: 49px;
}
*/

.card-version-2 .newcard-img-wrap {
  height: 296px;
}

.newcard-img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newcard-label {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 5;
  border-radius: $radius-element;
  padding: 4px 8px;
  font-size: 14px;
}
.cards-list {
  .newcard-label {
    @include label.label(var(--label-color), var(--label-bg), var(--label-border));
  }
}

.newcard-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.newcard-info .comment-rating {
  margin-top: 0;
}

.newcard-date {
  margin-left: auto;
  color: $text-light;
}

.card-version-2 .newcard-date {
  color: $text-accent;
}

.newcard-lg .newcard-date {
  text-align: left;
}

.newcard-title {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  margin-bottom: 12px;

  /* autoprefixer: ignore next */
  min-height: calc(1.2em * 3);
  color: $text-basic;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  overflow-wrap: anywhere;
}

/* autoprefixer: off */
.newcard-text {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  color: $text-light;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

@include min-tablet {
  .card-version-2 .newcard-img-wrap {
    height: 290px;
  }
}

@include min-laptop {
  .newcard-img-wrap {
    height: calc(15.42vw + 18px);
  }

  .newcard-lg .newcard-img-wrap {
    height: calc(24.17vw - 104px);
  }

  .card-version-2 .newcard-img-wrap {
    height: 280px;
  }
}

@include min-desktop {
  .card-version-2 .newcard-img-wrap {
    height: 364px;
  }
}
