*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:where(html) {
    hanging-punctuation: first allow-end last;
    color-scheme: light dark;
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}

:where(html.translated-rtl) {
    direction: rtl;
}

@media (prefers-reduced-motion: reduce) {
    :where(html) {
        scroll-behavior: auto;
    }
}

:where(body) {
    min-inline-size: 300px;
    min-block-size: 100svb;
}

:where(canvas, img, picture, svg, video) {
    display: block;
    border: none;
    max-inline-size: 100%;
    block-size: auto;
}

:where(button, input, progress, select, textarea) {
    appearance: none;
    background: transparent;
    // text-align: start;
    touch-action: manipulation;
    hanging-punctuation: none;
    // border: none;
    color: inherit;
    font: inherit;
    line-height: inherit;
}

:where(button) {
    cursor: pointer;
    user-select: none;
}

:where(textarea) {
    resize: vertical;
}

:where(textarea:not([rows])) {
    field-sizing: content;
}

:where(fieldset, iframe) {
    border: none;
}

:where(p, li, h1, h2, h3, h4, h5, h6) {
    text-wrap: pretty;
    overflow-wrap: break-word;
}

:where(abbr[title]) {
    border: none;
    text-decoration: none;
}

:where(cite) {
    font-style: inherit;
}

:where(small) {
    font-size: inherit;
}

:where(li, ol, ul) {
    list-style: none;
}

:where(dialog, [popover]) {
    position: fixed;
    margin: auto;
    // background: transparent;
    border: none;
    max-inline-size: none;
    max-block-size: none;
    color: inherit;
}

:where([popover]) {
    inset: auto;
}

:where(dialog:not([open], [popover]), [popover]:not(:popover-open)) {
    display: none;
}

:where([hidden]:not([hidden="until-found"])) {
    display: none !important;
}
