.single-opportunity {
    .opportunity-header {
        margin-top: 80px;
    }
    .opportunity-header,
    .opportunity-layout {
        margin: 0 auto;
        padding: 0;
        max-width: 1024px;
    }
}
