@use "../variables" as *;
@use "../mixins/media";

.single-opportunity {
    .opportunity-breadcrumbs {
        margin-top: 32px;
        margin-bottom: 16px;
        .btn-back {
            display: inline-flex;
            align-items: center;
            column-gap: 4px;
        }
    }
    &__layout {
        display: flex;
        flex-flow: column wrap;
        @include media.min-tablet {
            flex-flow: row nowrap;
        }
        .opportunity-main {
            display: flex;
            flex-flow: column wrap;
            gap: 20px;
            @include media.min-laptop {
                flex-flow: row nowrap;
            }
            .featured-figure {
                position: relative;
                border-radius: $radius-image;
                overflow: hidden;
                height: 320px;
                .featured-figure__image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @include media.min-tabland {
                    flex: 0 0 325px;
                    height: 240px;
                }
                @include media.min-laptop {
                    flex: 0 0 425px;
                    height: 280px;
                }
                @include media.max-laptop {
                    &:has(.featured-image__placeholder) {
                        display: none;
                    }
                }
                .featured-image__placeholder {
                    display: flex;
                    position: relative;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    background: $surface-violet;
                    aspect-ratio: 4 / 3;
                    width: 100%;
                    overflow: hidden;
                    color: $text-light;
                }
            }
            .opportunity-article {
                .opportunity-header {
                    .opportunity-title {
                        margin-bottom: 12px;
                    }
                }
                .opportunity-article-meta__wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;
                    .opportunity-article-meta {
                        display: flex;
                        flex-flow: column wrap;
                        row-gap: 9px;
                        .info-card {
                            .info-card__title {
                                display: inline-flex;
                                align-items: center;
                                column-gap: 4px;
                                font-size: 1rem;
                                color: $text-light;
                                .info-card__icon {
                                    color: $buttons-color-background-primary-default;
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                    }
                    .opportunity-social {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-end;
                        &__share {
                            display: inline-flex;
                            align-items: center;
                            column-gap: 9px;
                            .icon-share {
                                color: $buttons-color-background-primary-default;
                                width: 18px;
                                height: 18px;
                            }
                        }
                        .opportunity-badges {
                            display: flex;
                            flex-flow: column wrap;
                            gap: 4px;
                        }
                    }
                }
                .opportunity-content {
                    margin-top: 24px;
                    .opportunity-content__title {
                        margin-top: 12px;
                    }
                }
            }
        }
        .opportunity-aside {
            direction: rtl;
            overflow-y: scroll;
            max-height: 754px;
            padding-left: 20px;
            margin-left: 12px;
            &::-webkit-scrollbar {
                display: block;
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                background: $surface-violet;
                margin-bottom: 60px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $buttons-color-background-primary-disabled;
                border-right: none;
                border-left: none;
                border-radius: 4px;
            }
            // &::-webkit-scrollbar-track-piece:end {
            //     background: transparent;
            //     margin-bottom: 10px;
            // }

            // &::-webkit-scrollbar-track-piece:start {
            //     background: transparent;
            //     margin-top: 10px;
            // }
            .news-container {
                direction: ltr;
            }
            @include media.min-tabland {
                flex: 0 0 215px;
            }
            @include media.min-tablet {
                flex: 0 0 325px;
            }
            @include media.min-laptop {
                flex: 0 0 425px;
            }
            .lnew-main_title {
                margin-bottom: 24px;
            }
            .lnew-item {
                &:not(:last-child) {
                    margin-bottom: 18px;
                }
                .lnew-date {
                    font-size: 14px;
                    color: $text-light;
                    margin-bottom: 2px;
                }
            }
        }
    }
}
