@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;
@use "../../../../src/scss/mixins/label"; 
@use "../../../../src/scss/mixins/indents"; 

%flex-col {
  display: flex;
  flex-direction: column;
}
%text-base {
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
}

.contact-section {
  @extend %flex-col;

  padding: 80px 16px;
}

.contact-container {
  @extend %flex-col;

  padding: 24px;
  gap: 80px;
  border-radius: 40px;
  background-color: $surface-violet;
}

.contact-block,
.contact-titles,
.contact-list {
  @extend %flex-col;
}

.contact-block {
  gap: 24px;
}

.contact-titles {
  gap: 12px;
}

.contact-list {
  gap: 12px;
}

.contact-title-small {
  @include label.label-dot; 
  @include indents.label-subtitle; 

  background-color: $element-card-cult-fill;
  border-color: $element-card-cult-stroke;
  align-self: flex-start;
  
}

.contact-title-medium {
  @extend %text-base;

  font-size: 36px;
  line-height: 120%;
  text-transform: uppercase;
  color: $text-dark;
}

.contact-title-big {
  @extend %text-base;

  font-size: 16px;
  line-height: 130%;
  color: $text-basic;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;

  @extend %text-base;

  font-size: 16px;
  line-height: 130%;
  color: $text-dark;
}

.contact-item .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: $icon-color-accent;
  position: relative;
  left: 2px;
}

.contact-item .contact-value {
  color: $text-accent;
  text-decoration: none;
}

.contact-avatars {
  display: flex;
  margin-top: 8px;
}

.contact-avatar-item {
  width: 48px;
  height: 48px;
  margin-left: -12px;
  border: 2px solid $icon-color-secondary;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.contact-avatar-item:first-child {
  margin-left: 0;
}

.contact-avatar-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contact-form {
  @extend %flex-col;

  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $input-color-border-default;
  border-radius: 12px;
  transition: border-color 0.2s ease;
  background-color: $surface-primary;
  word-break: break-all;
}

.contact-form-field,
.contact-form-textarea {
  @extend %flex-col;

  flex: 1 1 100%;
  gap: 4px;
}

.contact-form-field .label-wrapper,
.contact-form-textarea .label-wrapper {
  @extend %text-base;

  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0 8px;
  font-size: 14px;
}

.contact-form-field .label-text,
.contact-form-textarea .label-text {
  color: $text-dark;
}

.contact-form-field .label-required,
.contact-form-textarea .label-required {
  color: $icon-color-error;
}

.contact-form-textarea {
  position: relative;
}

.contact-form-textarea textarea {
  min-height: 147px;
  resize: none;
}

.contact-form-textarea .textarea-wrapper {
  position: relative;
  display: block;
}

.contact-form-textarea .contact-counter {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 14px;

  @extend %text-base;

  line-height: 120%;
  color: $text-light;
  pointer-events: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: $input-color-border-filled;
  outline: none;
}

.contact-privacy {
  font-size: 14px;

  @extend %text-base;

  line-height: 120%;
  color: $text-basic;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.contact-submit {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: $buttons-color-text-primary-default;
  background-color: $buttons-color-background-primary-default;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
  text-align: center;

  &:hover {
    background-color: $buttons-color-background-primary-hover;
  }

  &:active {
    background-color: $buttons-color-background-primary-pressed;
  }
}

.contact-group {
  @extend %flex-col;

  gap: 4px;
}

.contact-error {
  min-height: 20px;
  font-size: 14px;

  @extend %text-base;

  line-height: 120%;
  color: $icon-color-error;
  margin-top: 4px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-error svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: currentcolor;
}

.contact-form input.input-error,
.contact-form textarea.input-error {
  border-color: $icon-color-error;
}

.contact-popup {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgb(0 0 0 / 50%);
}

.contact-popup-inner {
  @extend %flex-col;

  align-items: center;
  gap: 8px;
  padding: 24px;
  background: $surface-message;
  border-radius: 24px;
  box-shadow:
    0 3px 1px 0 #0000000f,
    0 3px 8px 0 #00000026,
    0 0 0 1px #0000000a;
}

.contact-popup-icon {
  width: 24px;
  height: 24px;
  fill: $text-basic;
}

.contact-popup-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
  color: $text-basic;
  text-align: center;
}

.contact-popup-text {
  @extend %text-base;

  font-size: 16px;
  line-height: 130%;
  color: $text-basic;
  text-align: center;
}

.contact-popup-success .contact-popup-inner {
  width: 343px;
  height: 185px;
}

.contact-popup-error .contact-popup-inner {
  width: 264px;
  height: 164px;
}

input::placeholder,
textarea::placeholder {
  @extend %text-base;

  color: $text-light;
  font-size: 16px;
}

@include min-tablet {
  .contact-section {
    padding: 80px 40px;
  }

  .contact-container {
    padding: 32px;
    gap: 120px;
  }

  .contact-title-medium {
    font-size: 48px;
  }

  .contact-form {
    flex-flow: row wrap;
    gap: 12px;
  }

  .contact-form-field:nth-child(1),
  .contact-form-field:nth-child(2) {
    flex: 1 1 calc(50% - 6px);
  }

  .contact-form-field:nth-child(3),
  .contact-form-field:nth-child(4),
  .contact-form-field:nth-child(5) {
    flex: 1 1 100%;
  }

  .contact-form-textarea {
    flex: 1 1 100%;
  }

  

  .contact-popup-success .contact-popup-inner {
    width: 445px;
    height: 168px;
  }

  .contact-popup-error .contact-popup-inner {
    width: 264px;
    height: 168px;
  }

  .contact-popup-title {
    font-size: 32px;
  }
}

@include min-laptop {
  .contact-container {
    flex-direction: row;
    gap: 0;
    width: 100%;
  }

  .contact-block {
    flex: 0 0 auto;
  }

  .contact-form {
    width: 580px;
    margin-left: auto;
    padding-top: 111px;
    gap: 12px;
    flex-flow: row wrap;
  }

  .contact-form-field:nth-child(1),
  .contact-form-field:nth-child(2) {
    flex: 1 1 calc(50% - 6px);
  }

  .contact-form-field:nth-child(3),
  .contact-form-field:nth-child(4),
  .contact-form-field:nth-child(5) {
    flex: 1 1 100%;
  }

  .contact-popup-success .contact-popup-inner {
    width: 495px;
    height: 172px;
  }

  .contact-popup-text {
    font-size: 18px;
  }
}

@include desktop {
  .contact-section {
    padding: 120px 80px;
  }

  .contact-container {
    flex-direction: row;
  }

  .contact-block {
    flex: 0 0 auto;
  }

  .contact-title-medium {
    font-size: 64px;
    font-weight: 300;
  }

  .contact-title-big {
    font-size: 18px;
  }

  .contact-item {
    font-size: 18px;
  }

  .contact-avatar-item {
    width: 54px;
    height: 54px;
  }

  

  .contact-form {
    width: 690px;
    margin-left: auto;
    padding-top: 111px;
    gap: 12px;
    flex-flow: row wrap;
  }

  .contact-form-field:nth-child(1),
  .contact-form-field:nth-child(2) {
    flex: 1 1 calc(50% - 6px);
  }

  .contact-form-field:nth-child(3),
  .contact-form-field:nth-child(4),
  .contact-form-field:nth-child(5) {
    flex: 1 1 100%;
  }

  

  input::placeholder,
  textarea::placeholder {
    font-size: 18px;
  }

  .contact-popup-success .contact-popup-inner {
    width: 511px;
    height: 219px;
  }

  .contact-popup-error .contact-popup-inner {
    width: 264px;
    height: 219px;
  }

  .contact-popup-icon {
    width: 40px;
    height: 40px;
  }

  .contact-popup-title {
    font-size: 44px;
  }
}
