@use "../variables" as *;
@use "../mixins/media" as *;

.lnew-main_title{
    margin-bottom: 4px;
}

.lnew-item {
  padding: 8px 0;
  position: relative;

  @include max-tablet {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, #fff, $stroke-default);
      background: linear-gradient(to right, #fff, $stroke-default, #fff);
    }
  }
}

.lnew-date {
  margin-bottom: 8px;
  color: $text-light;
}

.lnew-title {
  color: $text-basic;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp); /* максимум 3 строки */
  overflow: hidden;
}

/* медиа для aside */
@include min-tablet {
  .lnew-item:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, #fff, $stroke-default);
      background: linear-gradient(to right, #fff, $stroke-default, #fff);
    }
  }

  .lnew-date {
    margin-bottom: 12px;
  }
}
