@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

.section {
  /* top: -109px; */
  display: flex;
  margin-top: -88px;
  padding-top: 1px;
  padding-bottom: 24px;
  height: 100vh;
  background-image: var(--hero-bg);
  background-size: cover;
  background-position: center;
}

.image-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1100px;
  height: 100vh;
  z-index: -1;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.title {
  margin-bottom: 0;
  margin-top: 19.55vh;
  overflow-wrap: anywhere;
}

.title,
.subtitle {
  max-width: 512px;
}

.subtitle {
  margin-top: 2.22vh;
  text-align: center;
}

.wrap-link {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  white-space: nowrap;
}

.wrap-link a {
  color: white;
}

.wrap-link a:nth-child(2) {
  margin-top: 4vh;
}

.wrap-link a:hover {
  color: $buttons-color-background-secondary-hover;
}

.wrap-link a:active {
  color: $buttons-color-border-secondary-pressed;
}

.text-bottom {
  margin-top: 6vh;
}

@include min-tablet {
  .section {
    padding-bottom: 44px;
  }

  .wrap-link a:nth-child(2) {
    margin-top: 4.44vh;
  }

  .text-bottom {
    margin-top: 10.33vh;
  }

  .title{
    max-width: calc(30.95vw + 274.29px);
  }

  .subtitle {
    max-width: calc(4.46vw + 477.71px);
  }
}

@media screen and (min-width: 1000px) {
  .section {
    margin-top: -94px;
  }

  .wrap-link {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .text-bottom {
    margin-top: 17vh;
  }

  .wrap-link a:nth-child(2) {
    margin-top: 0;
  }
}

@include min-laptop{
  .section {
    margin-top: -109px;
    padding-bottom: 36px;
  }

  .title{
    margin-top: 29.11vh;
    max-width: calc(92.5vw - 612px);
  }

  .subtitle {
    max-width: calc(25.83vw + 170px);
  }

    .wrap-link{
    justify-content: space-between;
    padding: 0 117px;
  }
}

@include min-desktop{
  .section {
    padding-bottom: 64px;
  }

  .title{
    margin-top: 28.8181vh;
  }

  .text-bottom {
    margin-top: 13.9090vh;
  }

  .wrap-link{
    justify-content: space-between;
    padding: 0 52px;
  }
}