@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

.section {
  /* top: -109px; */
  display: flex;
  margin-top: -88px;
  padding-top: 1px;
  padding-bottom: 24px;
  height: 100vh;
  background-image: var(--hero-bg);
  background-size: cover;
  background-position: center;
}


.container{
  display: flex;
  color: white;
  text-align: center; 
} 

.image-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1100px;
  height: 100vh;
  z-index: -1;
}

.image {
  display: block;
  width: 100%;
  height: 100%;

}

.title{
  margin-bottom: 0;
  margin-top: 19.55vh;
  overflow-wrap: anywhere;
  
}

.title, .subtitle{
  max-width: 512px;
}

.subtitle{
  margin-top: 2.22vh;
  font-size: 20px;
  text-align: center;
}


.text-block{
  display: flex;
  flex-direction: column;
} 

.wrap-link {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  white-space: nowrap;
}

.wrap-link a{
  color: white;
}

.wrap-link a:nth-child(2) {
  margin-top: 4vh;
}

.wrap-link a:hover {
  color: $buttons-color-background-secondary-hover;
}

.wrap-link a:active {
  color: $buttons-color-border-secondary-pressed;
}

.text-bottom{
  margin-top: 6vh;
}

@include min-tablet{
  .section{
    padding-bottom: 44px;
  }

  .wrap-link a:nth-child(2) {
    margin-top: 4.44vh;
  }

  .text-bottom{
    margin-top: 10.33vh;
  }

}