@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

.section {
  /* top: -109px; */
  display: flex;
  margin-top: -88px;
  padding-top: 1px;
  padding-bottom: 0;
  height: 100vh;
  background-image: var(--hero-bg);
  background-size: cover;
  background-position: center;
}


.container{
  display: flex;
  color: white;
  text-align: center; 
} 

.image-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1100px;
  height: 100vh;
  z-index: -1;
}

.image {
  display: block;
  width: 100%;
  height: 100%;

}

.title{
  margin-bottom: 0;
  margin-top: 19.55vh;
  overflow-wrap: anywhere;
}

.subtitle{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}


.text-block{
  display: flex;
  flex-direction: column;
} 
