@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

.section {
  padding: 0;
  position: relative;
  top: -93px;
  z-index: -1;
}

.image {
  width: 100%;
  display: block;
}
