@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/_common" as *;

.btn1 {
  display: none;
}

.btn2 {
  display: flex;
  margin: 0 auto;
}

.subtitle {
  margin-bottom: 8px;
}

.title-wrap {
  margin-bottom: 32px;
}

.title {
  text-transform: uppercase;
  color: $text-dark;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}

.item {
  width: 100%;
  padding: 12px;
  background-color: $surface-violet;
  border-radius: 12px;

  @media screen and (max-width: 992.9px) {
    &:nth-child(n + 4) {
      display: none;
    }
  }
}

.photo-wrap {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  height: 280px;
}

.photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.item-label {
  @extend .label-subtitle;

  margin-bottom: 0;
  color: var(--label-color);
  background-color: var(--label-bg);
  position: absolute;
  left: 12px;
  top: 12px;

  &::before {
    background-color: var(--label-color);
  }
}

.item-date {
  @extend .text-small;

  margin-bottom: 20px;
  color: $text-light;
}

.item-title {
  @extend .btn-text-medium;

  display: box;
  min-height: calc(1.2em * 3);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* максимум 3 строки */
  overflow: hidden;
}

.text {
}

/*
.block-photo {
  display: none;
  opacity: 0;
  transition: opacity 750ms ease-out;
}
*/

.photo1-img {
}

@media screen and (min-width: 576px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1439.9px) {
    .item {
      &:nth-child(6n + 1),
      &:nth-child(6n + 6) {
        width: 100%;
      }

      &:nth-child(6n + 2),
      &:nth-child(6n + 3),
      &:nth-child(6n + 4),
      &:nth-child(6n + 5) {
        width: 30%;
        width: calc(100% / 2 - 9px);
      }
    }
  }

  .photo-wrap {
  }
}

@media screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 10px;
  }

  .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
  }

  .text {
  }

  .photo1 {
  }
}

@media screen and (min-width: 992px) {
  .list {
  }
}

@media screen and (min-width: 1440px) {
  .btn1 {
    display: flex;
  }

  .btn2 {
    display: none;
  }

  .subtitle {
    margin-bottom: 20px;
  }

  .list {
    gap: 20px;
  }

  .item {
    display: block;

    &:nth-child(6n + 1),
    &:nth-child(6n + 6) {
      width: calc(50% - 8px);
    }

    &:nth-child(6n + 2),
    &:nth-child(6n + 3),
    &:nth-child(6n + 4),
    &:nth-child(6n + 5) {
      width: 30%;
      width: calc(50% / 2 - 16px);
    }
  }
}

@media screen and (min-width: 1920px) {
  .title-wrap {
    margin-bottom: 40px;
  }

  .item-title {
    min-height: calc(1.2em * 4);
    -webkit-line-clamp: 4; /* максимум 3 строки */
  }

  .photo-wrap {
    height: 373px;
  }

  .photo1 {
  }

  .text {
  }
}
