@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

.section {
  padding-top: 16px;
  padding-bottom: 0;
}

.title {
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0%;
  color: $text-dark;
  font-size: 32px;

 @include min-tablet {
    font-size: 40px;
  }

  @include min-desktop {
    font-size: 54px;
  }
}