@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/common" as *;
@use "../../../../src/scss/mixins/label";
@use "../../../../src/scss/mixins/media" as *;
@use "../../../../src/scss/mixins/indents";

.section {
  padding-top: 16px;
}

.btn1 {
  display: none;
}

.title {
  text-transform: uppercase;
  color: $text-dark;
  margin-bottom: 16px;
}

/* ************************************************************ */
/* Для последних новостей aside +  */
.lastnews-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}

/* Для aside */
.aside {
  display: grid;
  gap: 4px;
}

.lnew-item {
  padding: 8px 0;
  position: relative;
  @include max-tablet {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, #ffffff, $stroke-default);
      background: linear-gradient(to right, #ffffff, $stroke-default, #ffffff);
    }
  }
}

.newscards {
  display: none;
}

.lnew-date {
  margin-bottom: 8px;
  color: $text-light;
}

.lnew-title {
  color: $text-basic;
  display: -webkit-box;

  /* min-height: calc(1.2em * 3); */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* максимум 3 строки */
  overflow: hidden;
}
/* медиа для aside */
@include min-tablet {
  .lnew-item {
  }

  .lnew-item:not(:last-child) {
    position: relative;
    /*border-bottom: 1px solid $stroke-default; */
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, #ffffff, $stroke-default);
      background: linear-gradient(to right, #ffffff, $stroke-default, #ffffff);
    }
  }

  .lnew-date {
    margin-bottom: 12px;
  }
}

@include min-laptop {
}

/*
    'newlast' => 'newlast',
    'newscards-item' => 'newscards-item',
    'newcard-content' => 'newcard-content',
    'newcard-img-wrap' => 'newcard-img-wrap',
    'newcard-img' => 'newcard-img',
    'newcard-label' => 'newcard-label',
    'newcard-date' => 'newcard-date',
    'newcard-title' => 'newcard-title',
    'newcard-text' => 'newcard-text', */

.newscards {
  /* display: none;
  gap: 18px;
  flex-wrap: wrap; */
}

.newscards-item {
  /* padding-bottom: 12px; */
  /* padding-bottom: 12px;
  width: calc(50% - 9px); */
}

.newcard-img-wrap {
  margin-bottom: 12px;
  margin-bottom: 24px;
  position: relative;
  width: 100%;
  height: 250px;
}

.newcard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.newcard-label {
  @include label.label(var(--label-color), var(--label-bg));

  position: absolute;
  top: 8px;
  left: 8px;
}

.newcard-date {
  margin-bottom: 12px;
  color: $text-light;
  text-align: right;
}

.newcard-title {
  margin-bottom: 12px;
  color: $text-basic;

  /* autoprefixer: ignore next */
  display: -webkit-box;
  min-height: calc(1.2em * 3);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* максимум 3 строки */
  overflow: hidden;
}

/* autoprefixer: off */
.newcard-text {
  color: $text-light;
  display: -webkit-box;
  /*min-height: calc(1.2em * 4); */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* максимум 3 строки */
  overflow: hidden;
}

/* ************************************************************ */
/* media основные */
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 16px;
  }

  .lastnews {
  }
  .lastnews-content {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 18px;
    margin-bottom: 0;
  }

  .aside {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  .newscards .newscards-item:nth-child(-n + 2) {
    grid-column: 2;
  }

  .newscards {
    display: grid;
    display: contents;
  }
}

@media screen and (min-width: 992px) {
  .lastnews-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .newscards .newscards-item:nth-child(-n + 2) {
    grid-column: auto;
  }

  .newscards .newscards-item:nth-last-child(1),
  .newscards .newscards-item:nth-last-child(2) {
    grid-template-columns: 1fr 1fr; /* две равные половины */
    gap: 18px;
  }
  .newscards .newscards-item:nth-last-child(2) {
    grid-column: 1 / span 1; /* левая половина */
    /*background-color: red; */
  }
  .newscards .newscards-item:nth-last-child(1) {
    grid-column: 2 / span 2; /* правая половина */
    /* background-color: orange; */
  }
}

@media screen and (min-width: 1440px) {
  .title {
    margin-bottom: 32px;
  }
  .lastnews-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .newscards .newscards-item:nth-last-child(1),
  .newscards .newscards-item:nth-last-child(2) {
    grid-column: auto;
  }

  .btn1 {
    display: flex;
  }

  .btn2 {
    display: none;
  }

  .subtitle {
    margin-bottom: 20px;
  }

  .newcard-img-wrap {
    height: calc(15.42vw + 18px);
  }
}

@media screen and (min-width: 1920px) {
  .title {
    font-size: 56px;
  }
  .lnew-title {
    /*min-height: calc(1.2em * 4);
    -webkit-line-clamp: 4; */ /* максимум 3 строки */
  }

  .photo-wrap {
    /* height: 19.429vw; */
  }
}
