@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/label";
@use "../../../../src/scss/mixins/media" as *;
@use "../../../../src/scss/mixins/indents";

.section {
  padding: 16px 0 0;

  /*
  @include min-tablet {
    padding-top: 8px;
  } */

  @include min-laptop {
    padding-top: 32px;
  }
}

.btn1 {
  display: none;
}

.title {
  color: $text-dark;
  margin-bottom: 16px;
}

/* ************************************************************ */

/* Для последних новостей aside +  */
.lastnews-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}

/* Для aside */
.aside {
  display: grid;
  gap: 4px;
}

.newscards {
  display: none;
}

/* ************************************************************ */

/* bycat */

/*
'cat-title' => 'cat-title',
'bycat-content' => 'bycat-content',
'bycat-first-item' => 'bycat-first-item',
'bycat-other-item' => 'bycat-other-item',
'bycat-item' => 'bycat-item',
'bycat-img-wrap' => 'bycat-img-wrap',
'bycat-img' => 'bycat-img',
'bycat-date' => 'bycat-date',
'bycat-title' => 'bycat-title',
*/

.bycat-section {
  padding: 40px 0 0;
}

.bycat-section:last-of-type {
  padding-bottom: 80px;
}

.cat-title {
  margin-bottom: 24px;
  color: $text-dark;
}

.bycat-content {
  display: grid;
  gap: 33px;
  grid-template-areas:
    "a"
    "b";
}

.bycat-item{
  position: relative;
}

.bycat-first-item {
  grid-area: a;
}

.bycat-other-item {
  display: grid;
  gap: 23px;
  grid-area: b;
}

@include max-tablet {
  .bycat-other-item .bycat-item:nth-child(n + 4) {
    display: none;
  }
}

.bycat-img-wrap {
  margin-bottom: 12px;
  height: 250px;
}

.bycat-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.bycat-date {
  margin-bottom: 12px;
  color: $text-light;
}

.bycat-title {
  color: $text-basic;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* максимум 3 строки */
  overflow: hidden;
}

.bycat-btn {
  margin-top: 32px;
  margin-left: auto;
}

@include min-tablet {
  .bycat-other-item {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .bycat-content {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-areas: "a b";
  }

  .bycat-img-wrap {
    height: 244px;
  }
}

@include min-laptop {
  .bycat-content {
    grid-template-areas: "a b";
  }

  .bycat-section:nth-of-type(4n + 3) .bycat-content,
  .bycat-section:nth-of-type(4n + 4) .bycat-content {
    grid-template-areas: "b a";
  }
}

@include min-desktop {
  .bycat-img-wrap {
    height: 360px;
  }
}

@media screen and (min-width: 1920px) {
  .bycat-section:last-of-type {
    padding-bottom: 120px;
  }
}

/* ************************************************************ */

/* media основные */
@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 16px;
  }

  .lastnews-content {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 18px;
    margin-bottom: 0;
  }

  .aside {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .newscards .newscards-item:nth-child(-n + 2) {
    grid-column: 2;
  }

  .newscards {
    display: grid;
    display: contents;
  }
}

@media screen and (min-width: 992px) {
  .lastnews-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .newscards .newscards-item:nth-child(-n + 2) {
    grid-column: auto;
  }

  .newscards .newscards-item:nth-last-child(1),
  .newscards .newscards-item:nth-last-child(2) {
    grid-template-columns: 1fr 1fr; /* две равные половины */
    gap: 18px;
  }

  .newscards .newscards-item:nth-last-child(2) {
    grid-column: 1 / span 1; /* левая половина */
  }

  .newscards .newscards-item:nth-last-child(1) {
    grid-column: 2 / span 2; /* правая половина */
  }
}

@media screen and (min-width: 1440px) {
  .title {
    margin-bottom: 32px;
  }

  .lastnews-content {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .newscards .newscards-item:nth-last-child(1),
  .newscards .newscards-item:nth-last-child(2) {
    grid-column: auto;
  }

  .btn1 {
    display: flex;
  }

  .subtitle {
    margin-bottom: 20px;
  }
}

@include min-tablet {
  .newscards-sw {
    display: none;
  }
}

.newscards-sw {
  margin-top: 20px;
  padding: 10px 0;
}
