@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

%flex-col {
  display: flex;
  flex-direction: column;
}

.promo-section {
  @extend %flex-col;

  padding: 80px 16px;
  height: 1064px;
gap: 10px;
}

.promo-container {
  @extend %flex-col;

  height: 100%;
  gap: 40px;
  
  
}

.promo-image {
    height: 100%;
  border-radius: 12px;
  overflow: hidden;
  
  img {
    width: 343px;
  height: 440px;
    object-fit: cover;
  }
}

.promo-content {
  @extend %flex-col;

  height: 100%;
  position: relative;
  justify-content: space-between;
}

.promo-wrapper {
  @extend %flex-col;

  gap: 12px;
}

.promo-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: $text-dark;
  
}

.promo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $text-dark;
  
}

.promo-contacts {
  @extend %flex-col;

  gap: 8px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 130%;
  color: $text-dark;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
}

.contact-item .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
   fill: $icon-color-accent;
  position: relative;
  
}



.contact-value {
  color: $text-accent;
  text-decoration: none;
  
  
}

.icon-star {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
}

.icon-bg,
.icon-mask {
  width: 100%;
  height: 100%;
}

.icon-mask {
  position: absolute;
}

.icon-bg {
  position: absolute;
  animation: spin 4s linear infinite;
}

@include min-tablet {
  .promo-section {
  @extend %flex-col;

  padding: 80px 40px;
  height: 608px;
  gap: 10px;
  }

  .promo-container {
    flex-direction: row;
    max-width: 100%;
    gap: 28px;
  }
  
  .promo-image {
    height: 100%;
  border-radius: 12px;
  overflow: hidden;
  
  img {
    width: 346px;
  height: 448px;
    object-fit: cover;
  }
}
  
  
  
  .promo-planet {
    margin: 0; 
  }
}