@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

%flex-col {
  display: flex;
  flex-direction: column;
}

.promo-section {
  @extend %flex-col;

  padding: 80px 16px;
  height: 1064px;
gap: 10px;
}

.promo-container {
  @extend %flex-col;

  height: 100%;
  gap: 40px;
  background-color: $surface-violet; 
  
}

.promo-image {
  border-radius: 12px;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.promo-content {
  @extend %flex-col;

  height: 100%;
  position: relative;
  justify-content: space-between;
}

.promo-wrapper {
  @extend %flex-col;

  gap: 12px;
}

.promo-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: $text-dark;
  margin-bottom: 12px;
}

.promo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $text-dark;
  
}

.promo-contacts {
  @extend %flex-col;

  gap: 8px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 130%;
  color: $text-dark;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
}

.contact-item .icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
   fill: $icon-color-accent;
  position: relative;
  left: 2px;
}



.contact-value {
  color: $text-accent;
  text-decoration: none;
  
  
}

.promo-planet {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 40px;
  background: linear-gradient(0deg, rgb(255 255 255 / 64%), rgb(255 255 255 / 64%)), conic-gradient(from 180deg at 50% 50%, #000 0deg, #FFF 43.53deg, #000 90deg, #FFF 135deg, #000 180deg, #FFF 223.7deg, #000 270.1deg, #FFF 313.17deg, #000 360deg), radial-gradient(100% 126.92% at 0% 1.36%, #2DBFBD 0%, #CBDD57 24.33%, #DB97DA 43.15%, #9298D6 62.96%, #49B8A8 82.52%, #4C9CC6 100%);
  background-blend-mode: normal, screen, difference, normal;
  margin: 0 auto;
}

.promo-planet .planet-inner {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: radial-gradient(70.08% 70.08% at 20.08% 16.67%, #DC46C4 1.38%, #139EEB 60.35%, #7B5CDD 100%);
  mask: radial-gradient(circle at center, transparent 40%, black 41%);
}

.promo-planet .planet-star {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 10px;
  top: 10px;
  background: radial-gradient(70.08% 70.08% at 20.08% 16.67%, #DC46C4 1.38%, #139EEB 60.35%, #7B5CDD 100%);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

@include min-tablet {
  .promo-container {
    flex-direction: row;
    max-width: 100%;
    padding: 32px;
    gap: 40px;
  }
  
  .promo-image {
    width: 50%;
    height: auto;
  }
  
  .promo-content {
    width: 50%;
    justify-content: center;
    min-height: auto;
    gap: 32px;
    align-items: flex-start;
  }
  
  .promo-planet {
    margin: 0; 
  }
}