@use "../../../../src/scss/variables" as *;

.item {
  position: relative;
  border-top: 1px solid rgba($text-light, 0.5);
  padding: 24px;
}

.item:last-child {
  border-bottom: 1px solid rgba($text-light, 0.5);
}

.block-title {
  display: flex;
  position: sticky;
  top: 0;
  /* stylelint-disable-next-line custom-property-pattern */

  /* top: var(--wp-admin--admin-bar--height, 0); */
  background-color: white;
  z-index: 1;

  @media screen and (min-width: 601px) {
    top: var(--wp-admin--admin-bar--height, 0);
  }
}

.count {
  min-width: 30px;
  font-size: 16px;
  font-weight: 500;
  color: $text-accent;
}

.title {
  text-transform: uppercase;
  background-color: white;
}

.content {
  position: relative;
  margin-left: 30px;
  padding-top: 12px;
}

.text {
  margin-bottom: 42px;
  font-size: 16px;
  line-height: 1.3;
  color: $text-light;
  min-height: 126px;
}

.block-photo {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  padding-top: 14px;
}

.block-photo img {
  display: block;
}

.photo1,
.photo2 {
  width: 120px;
}

.photo2 {
  margin-top: 52px;
}

.photo1-img,
.photo2-img {
  border-radius: 12px;
}

.icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 42px;
}

@media screen and (min-width: 768px) {
  .item {
    padding: 40px 28px 24px;

    /* height: 399px; */
  }

  .count {
    min-width: 38px;
  }

  .content {
    margin-left: 38px;
  }

  .text {
    min-height: 63px;
    margin-bottom: 0;
  }

  .block-photo {
    padding-top: 18px;
    gap: 12px;
  }

  .photo1,
  .photo2 {
    width: 14.583vw;
  }

  .photo2 {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .item {
    height: 399px;
  }

  .block-title,
  .text {
    width: 55%;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .block-photo {
    gap: 16px;
    width: 578px;
    margin-top: -84px;
    padding-top: 0;
    justify-content: start;
  }

  .photo1,
  .photo2 {
    width: 225px;
  }

  .photo2 {
    margin-top: 55px;
  }

  .icon {
    width: 80px;
    height: 68px;
  }
}

@media screen and (min-width: 1920px) {
  .item {
    height: 516px;
  }

  .count {
    font-size: 18px;
    width: 40px;
  }

  .content {
    margin-left: 40px;
  }

  .block-photo {
    width: 716px;
    padding-top: 48px;
    margin-top: -105px;
    gap: 20px;
  }

  .photo1,
  .photo2 {
    width: 240px;
  }

  .text {
    font-size: 18px;
  }
}
