@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

.section {
    padding-top: 16px;
    padding-bottom: 0;

    @include min-laptop {
        padding-top: 32px;
    }
}

.home-icon {
    fill: $icon-color-default-stroke;
    width: 24px;
    height: 24px;
}

.arrow-icon {
    fill: $text-accent;
    margin-right: 4px;
    width: 18px;
    height: 18px;
}

.list {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 4px;
    height: 100%;
}

.item {
    display: flex;
    align-items: center;
    align-self: stretch;

    a {
        display: flex;
        align-items: center;
        border-bottom: 1px solid transparent;
        height: 100%;
        line-height: 1;

        &:hover {
            border-bottom: 1px solid $buttons-color-background-primary-pressed;
            color: $buttons-color-background-primary-pressed;

            & svg {
                fill: $input-color-border-pressed;
            }
        }
    }

    &:last-child a {
        border-top: 1px solid transparent;
        border-bottom: 1px solid $stroke-hover;
        color: $stroke-hover;
    }
}
