@use "variables" as *;
@use "mixins/color" as *;
@use "mixins/media";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100% !important;
}

body {
  color: $text-basic;
  font-style: normal;
  font-size: 16px;
  font-family: Inter, sans-serif;

  @include media.min-desktop {
    font-size: 18px;
  }
}

.h-100 {
  height: 100% !important;
}

/* Базовые стили (мобильные, до 768px) */
.h1 {
  font-weight: 300;
  font-size: 54px;
  line-height: 1;

  @include media.min-tablet {
    font-size: 64px;
  }

  @include media.min-desktop {
    font-size: 88px;
  }
}

.h2-big {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;

  @include media.min-tablet {
    color: $text-dark;
    font-size: 48px;
  }

  @include media.min-desktop {
    font-weight: 300;
    font-size: 64px;
  }
}

.h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;

  @include media.min-tablet {
    font-size: 40px;
  }

  @include media.min-desktop {
    font-size: 54px;
  }
}

.h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;

  @include media.min-tablet {
    font-size: 32px;
  }

  @include media.min-desktop {
    font-size: 44px;
  }
}

.h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 36px;
  }
}

.label-subtitle {
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  background-color: $element-block-fill;
  padding: 6px 10px;
  color: $element-block-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  &::before {
    margin-right: 6.5px;
    border-radius: 50%;
    background-color: $element-block-text;
    width: 4px;
    height: 4px;
    content: "";
  }

  @include media.min-tablet {
    margin-bottom: 10px;
  }

  @include media.min-laptop {
    margin-bottom: 20px;
  }

  @include media.min-desktop {
    padding: 8px 12px;
    font-size: 16px;

    &::before {
      margin-right: 6px;
      width: 6px;
      height: 6px;
    }
  }
}

.subtitle-text-r {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;

  @include media.min-desktop {
    font-size: 24px;
    line-height: 1.2;
  }
}

.subtitle-text-m {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 24px;
  }
}

.subtitle-text-semibold {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 24px;
  }
}

.big-text-semibold {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 20px;
  }
}

.big-text-m {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 20px;
  }
}

.big-text-r {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 20px;
  }
}

.text-r {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  @include media.min-desktop {
    font-size: 18px;
  }
}

.btn-text-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 18px;
  }
}

.subtitle-big-r {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 16px;
  }
}

.subtitle-big-semi {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 16px;
  }
}

.text-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 16px;
  }
}

/* btns */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $animations;
  border-radius: 40px;
  background-color: $buttons-color-background-primary-default;
  padding: 12.5px 24px;
  width: fit-content;
  color: $buttons-color-text-primary-default;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    background-color: $buttons-color-background-primary-hover;
  }

  &:active,
  &:active:hover {
    background-color: $buttons-color-background-primary-pressed;
  }

  @include media.min-desktop {
    font-size: 18px;
  }
}

.section {
  padding: 80px 0;

  @include media.min-desktop {
    padding: 120px 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: auto;

  @include media.min-tablet {
    padding: 0 40px;
  }

  @include media.min-desktop {
    padding: 0 80px;
  }
}

img {
  max-width: 100%;
}

.site-main {
  margin-top: 112px;

  @include media.max-tablet {
    margin-top: 98px;
  }
}

.admin-bar .site-main {
  margin-top: 80px;

  @include media.max-tablet {
    margin-top: 52px;
  }
}

/* --- Tablet --- from 768px */

/*
@media screen and (min-width: 768px) {
}
*/

/* --- Laptop --- from 1440px */

/*
@media screen and (min-width: 1440px) {
}
*/

/* --- Desktop --- from 1920px */

/*
@media screen and (min-width: 1920px) {
}
*/
