@use "variables" as *;
@use "mixins/color" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100% !important;
}

body {
  font-family: Inter, sans-serif;
  font-style: normal;
}

.h-100 {
  height: 100% !important;
}

/* Базовые стили (мобильные, до 768px) */
.h1 {
  font-weight: 300;
  font-size: 54px;
  line-height: 100%;
}

.h2-big {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}

.h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
}

.h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}

.h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.label-subtitle {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: $element-block-text;
  padding: 6px 10px;
  border-radius: 40px;
  background-color: $element-block-fill;

  &::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: $element-block-text;
    border-radius: 50%;
    margin-right: 6.5px;
  }
}

.subtitle-text-r {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}

.subtitle-text-m {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.subtitle-text-semibold {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.big-text-semibold {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}

.big-text-m {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.big-text-r {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.text-r {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

.btn-text-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.subtitle-big-r {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.subtitle-big-semi {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}

.text-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

/* btns */
.btn {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  color: $buttons-color-text-primary-default;
  font-size: 16px;
  font-weight: 500;
  padding: 12.5px 24px;
  background-color: $buttons-color-background-primary-default;
  border-radius: 40px;
  transition: $animations;

  &:hover {
    background-color: $buttons-color-background-primary-hover;
  }

  &:active:not(:focus) {
    background-color: $buttons-color-background-primary-pressed;
  }
}

/* --- Tablet --- от 768px */
@media screen and (min-width: 768px) {
  .h1 {
    font-size: 64px;
  }

  .h2-big {
    font-size: 48px;
    color: $text-dark;
  }

  .h3 {
    font-size: 40px;
  }

  .h4 {
    font-size: 32px;
  }

  .h5 {
    font-size: 24px;
  }

  .label-subtitle {
    margin-bottom: 10px;
  }

  .subtitle-text-r,
  .subtitle-text-m,
  .subtitle-text-semibold {
    font-size: 20px;
  }

  .big-text-semibold,
  .big-text-m,
  .big-text-r {
    font-size: 18px;
  }

  .text-r {
    font-size: 16px;
  }

  .btn-text-medium {
    font-size: 16px;
  }

  .subtitle-big-r,
  .subtitle-big-semi,
  .text-small {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .label-subtitle {
    margin-bottom: 20px;
  }
}

/* --- Desktop --- от 1920px */
@media screen and (min-width: 1920px) {
  .h1 {
    font-size: 88px;
  }

  .h2-big {
    font-size: 64px;
    font-weight: 300;
  }

  .h3 {
    font-size: 54px;
  }

  .h4 {
    font-size: 44px;
  }

  .h5 {
    font-size: 36px;
  }

  .btn {
    font-size: 18px;
  }

  .subtitle-text-r,
  .subtitle-text-m,
  .subtitle-text-semibold {
    font-size: 24px;
  }

  .big-text-semibold,
  .big-text-m,
  .big-text-r {
    font-size: 20px;
  }

  .text-r {
    font-size: 18px;
  }

  .btn-text-medium {
    font-size: 18px;
  }

  .subtitle-big-r,
  .subtitle-big-semi,
  .text-small {
    font-size: 16px;
  }

  .label-subtitle {
    font-size: 16px;
    padding: 8px 12px;

    &::before {
      width: 6px;
      height: 6px;
      margin-right: 6px;
    }
  }
}

.section {
  padding: 80px 0;
}

@media (min-width: 1920px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  width: auto;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding: 0 80px;
  }
}

img {
  max-width: 100%;
}

.site-main {
  margin-top: 112px;

  @media screen and (max-width: 768px) {
    margin-top: 98px;
  }
}

.admin-bar .site-main {
  margin-top: 80px;

  @media screen and (max-width: 768px) {
    margin-top: 52px;
  }
}
