@use "variables" as *;
@use "mixins/color" as *;
@use "mixins/media";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100% !important;
}

body {
  color: $text-basic;
  font-style: normal;
  font-size: 16px;
  font-family: Inter, sans-serif;

  @include media.min-desktop {
    font-size: 18px;
  }
}

.h-100 {
  height: 100% !important;
}

/* Базовые стили (мобильные, до 768px) */
.h1 {
  font-weight: 300;
  font-size: 54px;
  line-height: 1;

  @include media.min-tablet {
    font-size: 64px;
  }

  @include media.min-desktop {
    font-size: 88px;
  }
}

.h2-big {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;

  @include media.min-tablet {
    color: $text-dark;
    font-size: 48px;
  }

  @include media.min-desktop {
    font-weight: 300;
    font-size: 64px;
  }
}

.h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;

  @include media.min-tablet {
    font-size: 40px;
  }

  @include media.min-desktop {
    font-size: 54px;
  }
}

.h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;

  @include media.min-tablet {
    font-size: 32px;
  }

  @include media.min-desktop {
    font-size: 44px;
  }
}

.h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 36px;
  }
}

.label-subtitle {
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  background-color: $element-block-fill;
  padding: 6px 10px;
  color: $element-block-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  &::before {
    margin-right: 6.5px;
    border-radius: 50%;
    background-color: $element-block-text;
    width: 4px;
    height: 4px;
    content: "";
  }

  @include media.min-tablet {
    margin-bottom: 10px;
  }

  @include media.min-laptop {
    margin-bottom: 20px;
  }

  @include media.min-desktop {
    padding: 8px 12px;
    font-size: 16px;

    &::before {
      margin-right: 6px;
      width: 6px;
      height: 6px;
    }
  }
}

.subtitle-text-r {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;

  @include media.min-desktop {
    font-size: 24px;
    line-height: 1.2;
  }
}

.subtitle-text-m {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 24px;
  }
}

.subtitle-text-semibold {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 24px;
  }
}

.big-text-semibold {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 20px;
  }
}

.big-text-m {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 20px;
  }
}

.big-text-r {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 20px;
  }
}

.text-r {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;

  @include media.min-desktop {
    font-size: 18px;
  }
}

.btn-text-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 18px;
  }
}

.subtitle-big-r {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 16px;
  }
}

.subtitle-big-semi {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 16px;
  }
}

.text-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include media.min-desktop {
    font-size: 16px;
  }
}

/* btns */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $animations;
  cursor: pointer;
  border-radius: 40px;
  background-color: $buttons-color-background-primary-default;
  padding: 12.5px 24px;
  width: fit-content;
  color: $buttons-color-text-primary-default;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    background-color: $buttons-color-background-primary-hover;
  }

  &:active,
  &:active:hover {
    background-color: $buttons-color-background-primary-pressed;
  }

  @include media.min-desktop {
    font-size: 18px;
  }
}

.btn__small {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $animations;
  cursor: pointer;
  border-radius: 40px;
  background-color: $buttons-color-background-primary-default;
  padding: 6px 16px;
  width: fit-content;
  color: $buttons-color-text-primary-default;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    background-color: $buttons-color-background-primary-hover;
  }

  &:active,
  &:active:hover {
    background-color: $buttons-color-background-primary-pressed;
  }

  @include media.min-desktop {
    font-size: 18px;
  }
}

.btn-secondary {
  display: flex;
  column-gap: 12px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: $animations;
  cursor: pointer;
  border: 1px solid $buttons-color-border-secondary-default;
  border-radius: 40px;
  background-color: unset;
  padding: 12.5px 24px;
  width: fit-content;
  color: $buttons-color-text-secondary-default;
  font-weight: 500;
  font-size: 16px;

  &:hover {
    background-color: $buttons-color-background-secondary-hover;
  }

  &__icon {
    width: 17px;
    height: 17px;

    &:focus {
      color: $buttons-color-text-secondary-pressed;
    }
  }

  &:focus {
    border-color: $buttons-color-background-secondary-pressed;
    background-color: $buttons-color-background-secondary-pressed;
    color: $buttons-color-text-secondary-pressed;

    .btn-secondary__icon {
      color: $buttons-color-text-secondary-pressed;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $buttons-color-background-secondary-disabled;
    color: $buttons-color-text-secondary-disabled;
  }

  &:active,
  &:active:hover {
    background-color: $buttons-color-background-secondary-pressed;
  }

  @include media.min-desktop {
    font-size: 18px;
  }
}

.btn-secondary__small {
  display: flex;
  column-gap: 12px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: $animations;
  cursor: pointer;
  border: 1px solid $buttons-color-border-secondary-default;
  border-radius: 40px;
  background-color: unset;
  padding: 6px 16px;
  width: fit-content;
  min-width: 88px;
  color: $buttons-color-text-secondary-default;
  font-weight: 500;
  font-size: 16px;

  &[hidden] {
    display: none;
  }

  &:hover {
    background-color: $buttons-color-background-secondary-selected;
  }

  &:disabled {
    cursor: not-allowed;
    background: $buttons-color-background-secondary-disabled;
    color: $buttons-color-text-secondary-disabled;
  }

  &--icon {
    width: 14px;
    height: 14px;
    color: $icon-color-accent;

    &:focus {
      color: $buttons-color-text-secondary-pressed;
    }
  }
}

.btn-tertiary {
  transition: $animations;
  cursor: pointer;
  border: none;
  background-color: unset;
  color: $buttons-color-background-primary-default;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
    color: $buttons-color-background-secondary-disabled;
  }

  &:hover {
    color: $buttons-color-background-primary-hover;
  }

  &:active,
  &:active:hover {
    background-color: $buttons-color-background-secondary-pressed;
  }

  // @include media.min-desktop {
  //   font-size: 16px;
  // }
}

/* Базовые стили для ссылок */
.link-bc {
  position: relative;
  color: $text-light;

  &:not(.link-bc-selected):hover {
    transition: $animations;
    color: $input-color-border-pressed;
  }

  /* &:not(:first-child)::before {
  } */
}

.link-bc-selected {
  position: relative;
  color: $text-accent;

  &:not(:first-child) {
    margin-left: 26px;

    &::before {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: -22px;
      transform: translateY(-50%);
      background: url("../img/arrow-right.svg") no-repeat center / contain;
      width: 18px;
      height: 18px;
      content: "";
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $text-accent;
    width: 100%;
    height: 1px;
    content: "";
  }
}

.section {
  padding: 80px 0;

  @include media.min-desktop {
    padding: 120px 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;

  @include media.min-tablet {
    padding: 0 40px;
  }

  @include media.min-desktop {
    padding: 0 80px;
  }
}

img {
  max-width: 100%;
}

/*
.site-main {
   @media screen and (min-width: 601px) {
    margin-top: var(--wp-admin--admin-bar--height, 0);
  } */

/*  margin-top: 112px;

  @include media.max-tablet {
    margin-top: 98px;
  }
}

.admin-bar .site-main {
  margin-top: 80px;

  @include media.max-tablet {
    margin-top: 52px;
  }
  } */

/* --- Tablet --- from 768px */

/*
@media screen and (min-width: 768px) {
}
*/

/* --- Laptop --- from 1440px */

/*
@media screen and (min-width: 1440px) {
}
*/

/* --- Desktop --- from 1920px */

/*
@media screen and (min-width: 1920px) {
}
*/

/* ************************************************************** */

/* Свайпер */
.swiper-paginations {
  margin-top: 16px;
  line-height: 0;
  text-align: center;
}

.swiper-pagination-bullet {
  opacity: 1;
  border-radius: 2px;
  background-color: $text-light;
  width: 20px;
  height: 4px;
}

/* Активный буллет */
.swiper-pagination-bullet-active {
  background-color: $icon-color-fill;

  // background-image: url('icon-active.svg');
}
