@use "variables" as *;

.footer {
  padding-top: 48px;
  padding-bottom: 24px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  background: $surface-secondary;
  color: $text-white;
  font-size: 20px;
}

.footer a {
  color: $text-white;
}

.footer-inner {
  margin-bottom: 120px;
}

.footer-title {
  margin-bottom: 24px;
  color: $text-accent-2;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
}

.footer-title.title-socblock {
  display: none;
}

.footer .socblock {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.socblock-link {
  display: flex;
  align-items: center;
  fill: $icon-color-accent;
  transition: all $animations;
}

.socblock-link:hover,
.socblock-link:hover .socblock-icon {
  color: $buttons-color-background-secondary-hover;
  transition: color $animations;
  fill: $primary-hover;

  // stroke: $primary-hover;
}

.footer .menu-item a:hover,
.footer-copyright a:hover {
  color: $buttons-color-background-secondary-hover;
  transition: color $animations;
}

.socblock-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.footer .nav {
  margin-top: 40px;
  margin-bottom: 120px;
}

.footer_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  line-height: 1.3;
}

.footer_list .menu-item {
  padding: 3px 12px;
}

.footer-logo-wrapper {
  position: relative;
  margin: 0 calc(0.045 * 100%);
  margin-bottom: 40px;
}

.footer-logo {
  width: 100%;
  margin: 4px 0;
}

.footer-logo-satellite {
  position: absolute;
  width: calc(100% * 0.04);

  /* top: calc(-100% * 0.11); */
  top: 0;
  right: calc(-100% * 0.02);
}

.footer-copyright {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border-top: 1px solid $icon-color-default-stroke;
  font-size: 12px;
}

.footer-copyright1,
.footer-copyright2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.footer-copyright2 {
  flex-direction: row;
}

.footer-copyright a {
  border-bottom: 1px solid $text-white;
}

@media screen and (min-width: 576px) {
  .footer-inner {
    display: flex;
    justify-content: space-between;
  }

  .footer-socwraper {
    width: 53%;
    margin-bottom: 0;
  }

  .footer .socblock {
  }

  .footer .nav {
    // width: auto;
    flex-grow: 1;
    margin-bottom: 0;
  }

  .footer_list {
    align-items: flex-start;
    gap: 0;
  }

  .footer-copyright1,
  .footer-copyright2 {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
  }

  .footer-inner {
    margin-bottom: 140px;
  }

  .footer-title {
    font-size: 32px;
  }

  .footer .socblock {
    font-size: 18px;
    margin-bottom: 48px;
    gap: 16px;
  }

  .nav {
    max-width: 336px;
  }

  .footer-logo-wrapper {
    margin: 0 calc(0.062 * 100%);
    margin-bottom: 24px;
  }

  .footer-logo {
    margin: 13px 0;
  }

  .footer-logo-satellite {
    top: calc(-100% * 0.13);
  }

  .footer-copyright {
    flex-direction: row;
    justify-content: center;
  }

  .footer-copyright1 {
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .footer_list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
  }

  .footer_list .menu-item {
    flex: 1 1 calc(50% - 8px);
  }

  .footer-inner {
    margin-bottom: 120px;
  }

  .footer-title {
    display: none;
  }

  .footer-logo {
    margin: 25px 0;
  }

  .footer-logo-satellite {
    top: 0;
  }

  .footer-title.title-socblock {
    display: block;
    margin-bottom: 16px;

    // margin-bottom: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    padding-bottom: 20px;
  }

  .footer-title {
    font-size: 44px;
    margin-bottom: 16px;
  }

  .footer-copyright {
    padding: 17px 0;
  }

  .footer .socblock {
    font-size: 20px;
    gap: 16px;
  }

  .footer-logo-wrapper {
    /* margin: 0 calc(0.025 * 100%); */
    margin-bottom: 40px;
  }

  .footer .menu {
    font-size: 24px;
  }

  .footer-logo {
    margin: 36px 0;
  }
}
