$stroke-default: #dcdcdc;
$stroke-hover: #784cdb;
$surface-message: #fff;
$surface-primary: #fff;
$surface-secondary: #111;
$surface-violet: #f5f4fe;
$text-accent: #784cdb;
$text-accent-2: #f4a60c;
$text-basic: #464646;
$text-dark: #292929;
$text-light: #7c7c7c;
$text-white: #fff;
$buttons-color-background-primary-default: #6839c8;
$buttons-color-background-primary-disabled: #dcdcdc;
$buttons-color-background-primary-hover: #7b5ae4;
$buttons-color-background-primary-pressed: #2b185d;
$buttons-color-background-secondary-default: #fff;
$buttons-color-background-secondary-disabled: #dcdcdc;
$buttons-color-background-secondary-hover: #dedafa;
$buttons-color-background-secondary-pressed: #7b5ae4;
$buttons-color-background-secondary-selected: #f5f4fe;
$buttons-color-border-secondary-default: #7b5ae4;
$buttons-color-border-secondary-disabled: #dcdcdc;
$buttons-color-border-secondary-hover: #784cdb;
$buttons-color-border-secondary-pressed: #784cdb;
$buttons-color-border-secondary-selected: #edebfc;
$buttons-color-text-primary-default: #fff;
$buttons-color-text-primary-disabled: #989898;
$buttons-color-text-primary-hover: #fff;
$buttons-color-text-primary-pressed: #fff;
$buttons-color-text-secondary-default: #464646;
$buttons-color-text-secondary-disabled: #989898;
$buttons-color-text-secondary-hover: #464646;
$buttons-color-text-secondary-pressed: #f8f8f8;
$dropdown-icon-color: #464646;
$dropdown-surface-color-default: #fff;
$dropdown-surface-color-hover: #edebfc;
$dropdown-surface-color-pressed: #c4bcf6;
$dropdown-surface-color-selected: #f2f2f2;
$dropdown-text-accent: #464646;
$dropdown-text-secondary: #7c7c7c;
$element-block-fill: #f5f4fe;
$element-block-stroke: #f5f4fe;
$element-block-text: #6839c8;
$element-block-visual: #6839c8;
$element-card-cult-fill: #dedafa;
$element-card-cult-stroke: #edebfc;
$element-card-cult-text: #784cdb;
$element-card-health-fill: #fbd3f8;
$element-card-health-stroke: #fee9fd;
$element-card-health-text: #d03fb9;
$element-card-prof-fill: #bce2fb;
$element-card-prof-stroke: #e1f1fd;
$element-card-prof-text: #077ac2;
$element-card-social-fill: #fef5c7;
$element-card-social-stroke: #fffceb;
$element-card-social-text: #d87e07;
$element-card-tech-fill: #b0ffc4;
$element-card-tech-stroke: #e8ffee;
$element-card-tech-text: #008922;
$element-card-travel-fill: #f7aab8;
$element-card-travel-stroke: #ffe7eb;
$element-card-travel-text: #b20020;
$icon-color-accent: #784cdb;
$icon-color-default-stroke: #656565;
$icon-color-done: #41c648;
$icon-color-error: #e90206;
$icon-color-fill: #fac625;
$icon-color-hover: #f4a60c;
$icon-color-primary: #292929;
$icon-color-secondary: #fff;
$icon-color-selected-stroke: #989898;
$input-color-border-disabled: #f8f8f8;
$input-color-border-active: #6839c8;
$input-color-border-default: #f2f2f2;
$input-color-border-filled: #784cdb;
$input-color-border-hover: #7b5ae4;
$input-color-border-pressed: #5630a7;
$input-color-icon: #292929;
$input-color-surface-active: #fff;
$input-color-surface-default: #fff;
$input-color-surface-disabled: #bdbdbd;
$input-color-surface-error: #fff4f6;
$input-color-surface-filled: #fff;
$input-color-surface-hover: #fff;
$input-color-surface-pressed: #fff;
$input-color-text-default: #989898;
$input-color-text-disabled: #dcdcdc;
$input-color-text-filled: #464646;
$input-color-text-hover: #525252;
$input-color-text-pressed: #464646;
