/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /* hide original SELECT element: */
}

.select-selected {
  padding: 0 28px 0 8px;
  background-color: white;
  border-radius: 12px;
  box-shadow: none;
}



/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active::after {
  border-color: transparent transparent #222;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #292929;
  border: 1px solid transparent;
  cursor: pointer;
}



.select-items div {
  padding: 8px 12px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  width: max-content;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  top: 100%;
  right: 0;
  z-index: 10;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #DEDAFA;
}
