.animated-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 628px;
  background: var(--surface-violet, #f5f4fe);
  padding-left: 386px;
  padding-right: 386px;
  gap: 10px;
  text-align: center;
}

.animated-text-wrapper {
  width: 100%;
}

.animated-text-content {
  color: #464646;
  font-weight: 300;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
}

/* ----------- 1440px ----------- */
@media (max-width: 1440px) {
  .animated-text-section {
    height: 472px;
  }

  .animated-text-content {
    font-weight: 400;
    font-size: 48px;
  }
}

/* ----------- 768px ----------- */
@media (max-width: 768px) {
  .animated-text-section {
    height: 588px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .animated-text-content {
    font-size: 48px;
  }
}

/* ----------- 375px ----------- */
@media (max-width: 375px) {
  .animated-text-section {
    height: 584px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .animated-text-content {
    font-size: 36px;
  }
}
