@use "../../../../src/scss/variables" as *;
@use "../../../../src/scss/mixins/media" as *;

.animated-text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 628px;
  gap: 10px;
  text-align: center;
  text-transform: uppercase;
  background: $surface-violet;

  .animated-text-content {
    color: $text-basic;
    font-weight: 300;
    font-size: clamp(32px, 4vw, 64px);
    line-height: 120%;
    letter-spacing: 0;

    .no-wrap {
      white-space: nowrap;
    }

    .text-desktop {
      display: block;
    }

    .text-tablet,
    .text-mobile {
      display: none;
    }
  }

  @include laptop {
    height: 472px;

    .animated-text-content {
      font-weight: 400;
    }
  }

  @include tablet {
    height: 588px;

    .animated-text-content {
      font-weight: 400;
      font-size: clamp(36px, 5vw, 48px);
      line-height: 115%;

      .text-desktop,
      .text-mobile {
        display: none;
      }

      .text-tablet {
        display: block;
      }
    }
  }

  @include mobile {
    height: 584px;

    .animated-text-content {
      font-size: clamp(28px, 7vw, 36px);
      line-height: 110%;

      .text-desktop,
      .text-tablet {
        display: none;
      }

      .text-mobile {
        display: block;
      }
    }
  }
}
